# Entorno virtual de Python
venv/
.env
*.env

# Archivos temporales y caché
__pycache__/
*.py[cod]
*.pyo

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# Archivos del sistema
.DS_Store
*.swp
*.swo

# Archivos de modelo o datos binarios (opcional)
*.pkl
*.joblib


